@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@*Solution using Model*@

@*@model IEnumerable<ConstellationStore.Models.Customer>

@Html.DropDownList("CustomerId",
    new SelectList(Model, "CustomerId", "CustomerName"),
    "Select Customer",
    new { @class = "form-control" })*@

@*Solution using ViewBag*@

@Html.DropDownList("CustomerId",
        new SelectList(ViewBag.Customer, "CustomerId", "CustomerName"),
    "Select Customer",
    new { @class = "form-control" })
